* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size:17px;
  font-family:'Roboto', sans-serif;
}
table {
  margin: auto;
  border-collapse: collapse;
}
table tr td {
  height: 9vw;
  width: 9vw;
  border: black 1px solid;
  background-size: contain;
  cursor: pointer;
}
table tr td.virus {
  background-image: url("virus.svg");
  background-color: rgba(255, 0, 0, 0.5);
}
table tr td.cure {
  background-image: url("cure.svg");
  background-color: rgba(0, 0, 255, 0.5);
}
aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
aside.loose {
  background-color: red;
}
aside.win {
  background-color: blue;
}
aside p {
  display: none;
}
aside.win p:first-of-type {
  display: unset;
}
aside.loose p:last-of-type {
  display: unset;
}